<div class="box">
					<div class="box-title">
						<h5>[[pageTitle]] <span class="label label-info">[[clientes.length]]</span> [[orderList]]</h5>
					</div>
				
					<div class="box-content">
						<div class="row">
							<div class="col-sm-5 m-b-xs"></div>
							<div class="col-sm-4 m-b-xs">
								<div class="input-group">
									<input type="search" ng-model="search" placeholder="Buscar Cliente" class="input-md form-control">
								</div>
							</div>
							<div class="col-sm-3">
								
							</div>
						</div>
						<div class="table-responsive">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Apellidos</th>
										<th>Email</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="cliente in clientes | orderBy: orderList.type | filter:search">
										<td>[[cliente.nombre]]</td>
										<td>[[cliente.apellidos]]</td>
										<td>[[cliente.email]]</td>
										<td>
											<a ui-sref="clientes.detalle">Detalles</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>
				</div>