<form>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <input ng-model="cliente.nombre"
                       type="text" class="form-control mb-md" id="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
                <input ng-model="cliente.apellidos"
                       type="text" class="form-control mb-md" id="apellidos" placeholder="Apellidos">
            </div>
            <div class="form-group">
                <input ng-model="cliente.fecha_nacimiento"
                       type="datetime" class="form-control mb-md" id="fechaNacimiento" placeholder="Fecha Nacieminto">
            </div>
            <div class="form-group">
                <input ng-model="cliente.edad"
                       type="text" class="form-control mb-md" id="edad" placeholder="Edad">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="form-group">
                    <input ng-model="cliente.email"
                           type="email" class="form-control mb-md" id="email" placeholder="Correo electrónico">
                </div>
                <div class="form-group">
                    <input ng-model="cliente.tel"
                           type="tel" class="form-control mb-md" id="telefono" placeholder="Teléfono de contacto">
                </div>
                <div class="form-group">
                    <input ng-model="cliente.cPostal"
                           type="text" class="form-control mb-md" id="cp" placeholder="Código postal">
                </div>
                <div class="form-group">
                    <input ng-model="cliente.direccion"
                           type="text" class="form-control mb-md" id="direccion" placeholder="Dirección">
                </div>
            </div>
        </div>
    </div>
</form>