<div class="panel panel-default">

    <div class="panel-body">
        <div class="panel-heading clearfix">
            <h2 class="pull-left margincero">[[cliente.nombre]] [[cliente.apellidos]]</h2>
            <a class="btn btn-success btn-xs pull-right" ui-sref="clientes.list"><i class="fa fa-arrow-circle-o-left"></i> Ir a la lista</a>
        </div>
        <div class="bootstrap-tab" ng-controller="clientePerfilCtrl">
            <tabset justified="true">
                <tab heading="Datos personales">Datos personales</tab>
                <tab heading="Proximas citas">Proximas citas</tab>
                <tab heading="Configuración">configuración</tab>
            </tabset>
        </div>
    </div>

</div>