<div class="panel panel-default">
    <div class="panel-body">
        <div ng-include src="'clientes/views/_cliente-form.tpl.html'"></div>
    </div>
    <div class="panel-footer">
        <a ng-click="save()" class="btn btn-success"><i class="fa fa-save"></i> Guardar</a>
        <a ui-sref="clientes.list" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
        <a ng-click="delete(cliente)" class="btn btn-danger pull-right"><i class="fa fa-trash"></i> Eliminar</a>
    </div>
</div>