<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <input type="search" ng-model="search" placeholder="Buscar Cliente" class="input-md form-control">
            </div>
            <div class="panel-body">
                <a ng-click="nuevo()" class="btn btn-success btn-block" ui-sref="clientes.nuevo">Nuevo cliente</a>
                <p>[[titulo]] <span class="label label-info">[[ListaClientes.length]]</span> [[orderList]]</p>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="cliente in clientes | orderBy: orderList.type | filter:search">
                            <td>[[cliente.nombre]]</td>
                            <td>[[cliente.apellidos]]</td>
                            <td>[[cliente.email]]</td>
                            <td>[[cliente.tel]]</td>
                            <td>
                                <a class="btn btn-default btn-xs" ng-click="detalle()" ui-sref="clientes.detalle({id:cliente.id})">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a class="btn btn-danger btn-xs" ng-click="delete(cliente)"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
