<div class="col-md-3">
    <div class="box">
        <div class="box-title">
            <p class="pull-left">[[pageTitle]] <span class="label label-info">[[clientes.length]]</span> [[orderList]]</p>
        </div>

        <div class="box-content">

        </div>
    </div>
</div>
<div class="col-md-9">
    <div class="box">
        <div class="box-title">
            <p class="pull-left">Nuevo Cliente</p>
        </div>

        <div class="box-content">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="text" class="form-control mb-md" id="nombre" placeholder="Nombre">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mb-md" id="apellidos" placeholder="Apellidos">
                        </div>
                        <div class="form-group">
                            <input type="datetime" class="form-control mb-md" id="fechaNacimiento" placeholder="Fecha Nacieminto">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control mb-md" id="edad" placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                <input type="email" class="form-control mb-md" id="email" placeholder="Correo electrónico">
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control mb-md" id="telefono" placeholder="Teléfono de contacto">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control mb-md" id="cp" placeholder="Código postal">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control mb-md" id="direccion" placeholder="Dirección">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <hr/>
            <a ng-click="guardar()" class="btn btn-success">Guardar</a>
            <a ui-sref="clientes.list" class="btn btn-default">Cancelar</a>
        </div>

    </div>
</div>