@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,800,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
/*------------------------------------*\
    $SHARED STYLE
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #7b8a8b;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: 900;
}
hr.spacing-vertical {
  padding: 20px 0;
  border: none;
}
h1 {
  font-size: 39px;
}
.page-header {
  margin: 0;
  background: #2c3e50;
  padding: 0;
  position: relative;
}
.scroller .page-header {
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.content-box {
  padding: 60px 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.content-box__title {
  color: #ffffff;
  margin-top: 0;
  text-align: center;
}
.content-box__title--landing {
  color: #27ae60;
}
.content-box.gray {
  background: #f7f7f7;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
}
.content-box.content-box--landing {
  height: 100vh;
  margin-top: -65px;
  padding-top: 120px;
}
.content-box.content-box--landing__title {
  color: #c64d2d;
}
.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-image: url("../img/langing_home_bg.jpg");
  /*& when (@overlay = true) {
	&:before{
	  content: "";
	  position: absolute;
	  left: 0;right: 0;bottom: 0;top: 0;
	  background: fade(@color,90%);
	}
  }*/
}
.page-footer {
  padding: 20px;
  text-align: center;
  background: #2c3e50;
  color: #798d8f;
}
.page-footer p {
  margin: 0;
}
.page-footer .footer-menu {
  margin: 0;
  padding: 0;
}
.page-footer .footer-menu .item {
  display: inline-block;
  padding: 0 10px;
}
.page-footer .footer-menu .item a {
  color: #798d8f;
}
.page-footer hr {
  width: 100%;
  border-color: #798d8f;
}
/*------------------------------------*\
    $HEADER STYLE
\*------------------------------------*/
.logo {
  padding: 8px;
  max-width: 230px;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.logo-scroller {
  padding: 7px;
  max-width: 200px;
  display: block;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navbar {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.navbar-default {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0;
  border-top: solid 3px #c64d2d;
  z-index: 9999;
}
.navbar-scroller {
  background: rgba(44, 62, 80, 0.8);
  padding-bottom: 0;
  padding-top: 0;
  -webkit-box-shadow: 0 3px 5px 5px #2c3e50;
  -moz-box-shadow: 0 3px 5px 5px #2c3e50;
  box-shadow: 0 3px 5px 5px #2c3e50;
}
.navbar-transparent {
  background: transparent;
}
.login-menu {
  margin-left: 30px;
  background: #c64d2d;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
}
.login-menu a:hover {
  color: #FFFFFF !important;
  background: #ba482a !important;
}
.login-menu.login-menu-scroller > li > a {
  padding: 10px;
}
/*------------------------------------*\
	PAGE HOME STYLE
\*------------------------------------*/
#home .page-header {
  background: transparent;
}
#landing-header {
  text-align: center;
  background: url("../img/landing-home-bg-1.jpg") fixed center center;
  background-size: cover;
  height: 100%;
}
#landing-header .overlay {
  background: rgba(44, 62, 80, 0.85);
  padding: 65px 0;
  height: 100%;
}
#landing-header .landing-header-content h1 {
  margin-bottom: 50px;
}
#landing-header .landing-header-content .btn-custom {
  padding: 20px;
  font-size: 18px;
}
#landing-header .mas-info {
  cursor: pointer;
  text-decoration: none;
  -webkit-animation: fleacha 3s 4s infinite ease-in-out;
  -moz-animation: fleacha 3s 4s infinite ease-in-out;
  animation: fleacha 3s 4s infinite ease-in-out;
  position: absolute;
  bottom: 50px;
  width: 140px;
  text-align: center;
  left: 50%;
  margin-left: -70px;
}
#landing-header .mas-info:hover {
  text-decoration: none;
}
#landing-header .mas-info span {
  color: #fff;
}
#landing-header .mas-info i {
  display: block;
  font-size: 2em;
  color: #c64d2d;
}
@-webkit-keyframes fleacha {
  0%,
  20%,
  40%,
  100% {
    bottom: 50px;
  }
  10%,
  30% {
    bottom: 30px;
  }
}
/*------------------------------------*\
	PAGE LOGIN/REGISTER STYLE
\*------------------------------------*/
#useraccess {
  background: #2c3e50;
  margin-top: 60px;
}
.login-wraper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.login-wraper footer {
  padding: 15px 0;
}
.login-wraper .checkbox {
  padding: 0;
  margin: 0;
}
.login-wraper .form-control:focus {
  border-color: #18bc9c;
}
.login-wraper .checkbox label {
  padding-left: 25px;
  color: #18bc9c;
}
.innerbox-sm {
  padding: 0 10px;
}
.innerbox-md {
  padding: 0 20px;
}
.innerbox-lg {
  padding: 30px;
  padding-bottom: 0;
}
/*------------------------------------*\
	BOOTSTRAP OVERRIDE
\*------------------------------------*/
.checkbox .control-label {
  position: relative;
  margin-left: 0;
  padding-left: 25px;
}
.checkbox .control-label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ecf0f1;
  left: 0;
  border: solid 1px transparent;
}
.checkbox .control-label:hover:before {
  border-color: #18bc9c;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type=checkbox]:checked + label:before {
  border-width: 4px;
  border-color: #ecf0f1;
  background: #18bc9c;
}
.btn-custom {
  background: #c64d2d;
  color: #fff;
}
.btn-custom:hover {
  background: #b14528;
}
