{% set currentpage = "home" %}
{% extends "@App/webLayout.html.twig" %}
{% block title %}Gestor de citas Online.{% endblock %}

{% block content %}

    <!-- page content -->
    <div class="content-box">

    </div>
{% endblock %}
