{% set currentpage = "home" %}
{% extends "@App/webLayout.html.twig" %}
{% block title %}Gestor de citas Online.{% endblock %}

{% block content %}
    <main class="page-content">
        <div class="jumbotron landing-box">
            <h1>Content Portada landing</h1>
        </div>
    </main>
{% endblock %}
