{% set currentpage = "home" %}
{% extends "@App/webLayout.html.twig" %}
{% block title %}Gestor de citas Online.{% endblock %}

{% block content %}

    <!-- home landing -->
    <div class="content-box content-box--landing">
        <h1 class="content-box__title content-box__title--landing">contenido landig page</h1>
    </div>

    <!-- page content -->
    <div class="content-box">

    </div>
{% endblock %}
