{% set currentpage = "faq" %}
{% extends "@App/webLayout.html.twig" %}
{% block title %}Preguntas frecuentes.{% endblock %}


{% block content %}
    <section class="page-content">
        <h1>Preguntas frecuentes page</h1>
    </section>
{% endblock %}

