{% set currentpage = "faq" %}
{% extends "@App/webLayout.html.twig" %}
{% block title %}Preguntas frecuentes.{% endblock %}


{% block content %}
    <section class="page-content content-box">
        <div class="container">
            <h1>Preguntas frecuentes page</h1>
        </div>
    </section>
{% endblock %}

