{% set currentpage = "servicios" %}
{% extends "@App/webLayout.html.twig" %}
{% block title %}Nuestros servicios.{% endblock %}

{% block content %}
    <section class="page-content content-box">
        <div class="container">
            <h1>Servicios page</h1>
        </div>
    </section>
{% endblock %}

