{% set currentpage = "servicios" %}
{% extends "@App/webLayout.html.twig" %}
{% block title %}Nuestros servicios.{% endblock %}

{% block content %}
    <section class="page-content">
        <h1>Servicios page</h1>
    </section>
{% endblock %}

