<form id="servicioForm"
      xt-form="servicioForm"  strategy="focusedAndDirtyOrSubmitted" focus-error="true" novalidate>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label for="nombre">Nombre del servicio</label>
                <input ng-model="servicio.nombre" type="text" class="form-control mb-md" id="nombre" placeholder="Nombre del servicio"
                       xt-validate required msg-required="Debe asignar un nombre al servicio" name="nombre">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <textarea ng-model="servicio.descripcion" class="form-control mb-md" id="descripcion"
                          placeholder="Describe brevemente el servicio"></textarea>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="duracion">Tiempo estimado</label>
                        <select ng-model="servicio.duracion" class="form-control" name="duracion" id="duracion"
                                xt-validate required msg-required="Selecciona un tiempo estimado" name="duracion">
                            <option ng-repeat="dur in duracion" value="[[dur]]">[[dur]] Min</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <input ng-model="servicio.precio" type="text" class="form-control mb-md"
                                   id="precio" placeholder="Precio del servicio"
                                   xt-validate required msg-required="Asignar un precio al servicio" name="precio">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="empleado">Empleado que lo orealiza</label>
                        <select ng-model="servicio.empleado" class="form-control" id="empleado">
                            <option ng-model="servicio.empleado" ng-repeat="empleado in empleados" value="[[empleado.id]]">[[empleado.nombre]]</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="enableToReserved">
                    <input type="checkbox" ng-init="servicio.habilitado_para_reserva = true"
                           ng-model="servicio.habilitado_para_reserva" id="enableToReserved">
                    Los clientes pueden reservar este servicio - [[ habilitado_para_reserva ]]
                </label>
            </div>
        </div>
    </div>
    <input type="hidden" ng-model="servicio.usuario" value="{{ app.user.username }}"/>
</form>