<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Opciones de servicio</div>
            </div>
            <div class="panel-body">
                <p>[[titulo]] <span class="label label-info"> X </span> [[orderList]]</p>
                <a ng-click="" class="btn btn-success btn-block" ui-sref="servicios.nuevo">Nuevo Servicio</a>
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-body">
                contenido...
            </div>
        </div>
    </div>
</div>