
        <div class="panel panel-default" ng-controller="listadoServicioCtrl">
            <div class="panel-heading clearfix">
                <h3 class="pull-left">Servicios <span class="label label-default">[[servicios.length]]</span></h3>
                <a ui-sref="servicios.nuevo" ng-click="nuevo()" class="btn btn-success btn-xs pull-right">
                    <i class="fa fa-plus"></i> Nuevo Servicio
                </a>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="order" ng-click="orden='nombre'; reverse=!reverse"><i class="fa fa-sort"></i> Nombre</th>
                            <th>Descripción</th>
                            <th class="order text-center" ng-click="orden = 'duracion'; reverse=!reverse">
                                <i class="fa fa-sort"></i> Duración</th>
                            <th class="order text-center" ng-click="orden = 'precio'; reverse=!reverse">
                                <i class="fa fa-sort"></i> Precio</th>
                            <th class="width100">
                                <button ng-show="orden" ng-click=" orden=''; reverse=false " type="button" class="btn btn-default btn-xs">
                                    <i class="fa fa-close"></i> Borra orden
                                </button>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="servicio in servicios | orderBy: orden:reverse | filter:search">
                            <td>[[servicio.nombre]]</td>
                            <td>[[servicio.descripcion]]</td>
                            <td class="text-center">[[servicio.duracion]] Min.</td>
                            <td class="text-center">[[servicio.precio | currency : " €" ]] </td>
                            <td class="text-right">
                                <a class="btn btn-danger btn-xs" tooltip-placement="top" tooltip="Eliminar servicio"
                                   ng-click="delete(servicio)">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-xs btn-default" ng-click="editar(servicio)"
                                   ui-sref="servicios.editar({id:servicio.id})">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
