<header class="page-geader row">

    <div class="fluid-container">

        <!-- Logo web -->
        <div class="col-md-4">
            <a href="{{ path("web_homepage") }}">
                <img src="" alt="Reserving - Gestor de citas online"/>
            </a>
        </div>

        <!-- Menú principal -->
        <nav class="col-md-8" role="navegation">
            <ul class="menu-principal">
                <li class="item"><a href="{{ path("web_homepage") }}">Inicio</a></li>
                <li class="item"><a href="{{ path("web_servicios") }}">Servicios</a></li>
                <li class="item"><a href="#planesPrecios">Planes y precios</a></li>
                <li class="item"><a href="{{ path("web_preguntas_frecuentes") }}">faq's</a></li>
                <li class="item"><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>

    </div>

</header>