<div class="footer-top clearfix">
    <ul class="footer-menu pull-left">
        <li class="item"><a href="">Aviso Legar</a></li>
        <li class="item"><a href="">Política de privacidad</a></li>
        <li class="item"><a href="">Política de cookies</a></li>
    </ul>
    <ul class="pull-right social-menu footer-menu">
        <li class="item"><a href=""><i class=""></i> Facebook</a></li>
        <li class="item"><a href="">Twitter</a></li>
        <li class="item"><a href="">Google +</a></li>
    </ul>
</div>
<hr class="clearfix"/>
<p class="text-center clearfix">
    <strong>Reserving.me</strong> &copy; Todos los derechos reservados 2014 - {{ "now"|date("Y") }}
</p>