{% set currentpage = "appHome" %}
{% extends "@App/admin/admin_layout.html.twig" %}
{% block title %}Gestor de citas Online.{% endblock %}

{% block content %}
    <nav class="sidebar navbar-dark" role="navegation">
        <div class="slimScrollDiv">
            <div class="sidebar--collapse">
                <a ui-sref="reserving" class="sidebar--logo">
                    <img src="{{ asset("assets/app/images/logo.png") }}" alt="Reserving">
                </a>

                <ul class="nav" id="side-menu">
                    <li ui-sref-active="active" ui-nested><a ui-sref="reseving">Calendario</a></li>
                    <li ui-sref-active="active" ui-nested><a ui-sref="empleados.list">Empleados</a></li>
                    <li ui-sref-active="active" ui-nested><a ui-sref="clientes.list">Clientes</a></li>
                    <li ui-sref-active="active" ui-nested><a ui-sref="servicios.list">Servicios</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="page-wrapper">
        <div class="navbar-top row border-bottom">
            <nav class="navbar-static-top">
                nav top
            </nav>
            <ul class="login-menu">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="login-menu__item login-menu__item--logout">
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="wrapper-content">
            <div ui-view></div>
        </div>

        <div class="row">
            <div class="footer fixed">
                <p class="copy pull-left">Copyright <strong>RESERVING</strong> © 2015-2016</p>
            </div>
        </div>
    </div>
{% endblock %}
