  @import "less/variables";
  @import "less/mixins";
  @import "less/layout";


/*------------------------------------*\
    $HEADER STYLE
\*------------------------------------*/
  // Logo Block
  .logo{
	padding: 8px;
	max-width: 230px;
	display: block;
  }

  // NAVBAR BLOCK
  .navbar{

	&-default{
		.rounded(0px);
		margin-bottom: 0;
		border-top: solid 3px @brand-naranja;
	  z-index: 9999;

	  .nav{
		&bar-nav{
		  &__item{}
		  &__item--current{}
		  &__item--login{}
		  &__item--register{}
		}
	  }
	}

	&-transparent{
	  background:transparent;
	}
  }

  // LOGIN-MENU BLOCK
  .login-menu{
	margin-left: 30px;
	background: @brand-naranja;
	position: relative;

	.border-radius(0,10px,10px,0);
	.box-shadow(0 3px 5px fade(darken(@brand-primary, 7%),50%));
	overflow: hidden;

	a:hover{
	  color: #FFFFFF !important;
	  background: darken(@brand-naranja, 3%) !important;
	}
  }


/*------------------------------------*\
	PAGE HOME STYLE
\*------------------------------------*/
#home{
  .page-header{background: transparent;}
  .page{

  }
}

#landing-header{
  text-align: center;
  background: url("../img/landing-home-bg-1.jpg") fixed center center;
  background-size: cover;

  height: 100%;

  .overlay{
	.overlay()
  }

  .landing-header-content{

	h1{margin-bottom: 20px;}

	.mas-info{
		position: absolute;
	 	bottom: 0;

	  i{display: block;}
	}
  }
}


/*------------------------------------*\
	PAGE LOGIN/REGISTER STYLE
\*------------------------------------*/
#useraccess{
	background: @brand-primary;
	margin-top: 60px;
}

.login-wraper{
	footer{padding: 15px 0;}
	.checkbox{padding: 0;margin:0;}
	.form-control:focus{border-color:@turquoise;}
  	.checkbox label{padding-left: 25px;color: @turquoise;}
}








/*------------------------------------*\
	BOOTSTRAP OVERRIDE
\*------------------------------------*/
@import "less/bootstrap_override";