  @import "less/variables";
  @import "less/mixins";
  @import "less/layout";


/*------------------------------------*\
    $HEADER STYLE
\*------------------------------------*/
  // Logo Block
  .logo{
	padding: 8px;
	max-width: 230px;
	display: block;
	.transition();
	&-scroller{
	  padding: 13px;
	  max-width: 200px;
	  display: block;
	  .transition();
	}
  }


  // NAVBAR BLOCK
  .navbar{
	.transition();


	&-default{
	  .rounded(0px);
	  margin-bottom: 0;
	  border-top: solid 3px @brand-naranja;
	  z-index: 9999;

	  .nav{
		&bar-nav{
		  &__item{}
		  &__item--current{}
		  &__item--login{}
		  &__item--register{}
		}
	  }
	}

	&-scroller{
		background: @brand-primary;
	  	padding-bottom: 0;
	  	padding-top: 0;
	}

	&-transparent{
	  background:transparent;
	}
  }

  // LOGIN-MENU BLOCK
  .login-menu{
	margin-left: 30px;
	background: @brand-naranja;
	position: relative;
	.transition();

	.border-radius(0,10px,10px,0);
	//.box-shadow(0 3px 5px fade(darken(@brand-primary, 7%),50%));
	overflow: hidden;

	a:hover{
	  color: #FFFFFF !important;
	  background: darken(@brand-naranja, 3%) !important;
	}

	&.login-menu-scroller{
	  &>li>a{padding: 10px;}
	}
  }


/*------------------------------------*\
	PAGE HOME STYLE
\*------------------------------------*/
#home{
  .page-header{background: transparent;}
  .page{

  }
}

#landing-header{
  text-align: center;
  background: url("../img/landing-home-bg-1.jpg") fixed center center;
  background-size: cover;

  height: 100%;

  .overlay{
	.overlay()
  }

  .landing-header-content{

	h1{margin-bottom: 50px;}
	.btn-custom{
	  padding: 20px;
		font-size: 18px;
	}

  }
  .mas-info{
	@width: 140;
	cursor: pointer;

	-webkit-animation: fleacha 3s 4s infinite ease-in-out;
	-moz-animation: fleacha 3s 4s infinite ease-in-out;
	animation: fleacha 3s 4s infinite ease-in-out;

	position: absolute;
	bottom: 50px;
	width: @width*1px;
	text-align: center;
	left: 50%;
	margin-left: (@width/2)*-1px;

	span{
	  color:#fff;
	}

	i{
	  display: block;
	  font-size: 2em;
	  color:@brand-naranja;
	}


  }
}

  @-webkit-keyframes fleacha {
	0%, 20%, 40%, 100%{bottom: 50px;}
	10%, 30%{bottom: 30px;}
  }

/*------------------------------------*\
	PAGE LOGIN/REGISTER STYLE
\*------------------------------------*/
#useraccess{
	background: @brand-primary;
	margin-top: 60px;
}

.login-wraper{
	footer{padding: 15px 0;}
	.checkbox{padding: 0;margin:0;}
	.form-control:focus{border-color:@turquoise;}
  	.checkbox label{padding-left: 25px;color: @turquoise;}
}








/*------------------------------------*\
	BOOTSTRAP OVERRIDE
\*------------------------------------*/
@import "less/bootstrap_override";