@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,800,600);
/*------------------------------------*\
    $SHARED STYLE
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #fff;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #7b8a8b;
}
.page-header {
  margin-top: 0;
  border: none;
}
.content-box {
  padding: 18px 27px;
  background: #fff;
}
.content-box__title {
  color: #e74c3c;
  margin-top: 0;
  text-align: center;
}
.content-box__title--landing {
  color: #27ae60;
}
.content-box--landing {
  background: transparent;
  padding: 100px;
}
/*------------------------------------*\
    $HEADER STYLE
\*------------------------------------*/
.logo {
  padding: 20px 0;
}
/*------------------------------------*\
	PAGE LOGIN STYLE
\*------------------------------------*/
#pagelogin {
  margin-top: 60px;
  background: #2c3e50;
}
.login-wraper footer {
  padding: 15px 0;
}
.login-wraper .checkbox {
  padding: 0;
  margin: 0;
}
.login-wraper .form-control:focus {
  border-color: #18bc9c;
}
.login-wraper .checkbox label {
  padding-left: 25px;
  color: #18bc9c;
}
/*------------------------------------*\
	BOOTSTRAP OVERRIDE
\*------------------------------------*/
.checkbox .control-label {
  position: relative;
  margin-left: 0;
  padding-left: 25px;
}
.checkbox .control-label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ecf0f1;
  left: 0;
  border: solid 1px transparent;
}
.checkbox .control-label:hover:before {
  border-color: #18bc9c;
}
.checkbox input[type="checkbox"] {
  display: none;
}
.checkbox input[type=checkbox]:checked + label:before {
  border-width: 4px;
  border-color: #ecf0f1;
  background: #18bc9c;
}
