<form id="empleadoForm"
      xt-form="xt_formEmpleado"  strategy="focusedAndDirtyOrSubmitted" focus-error="true" novalidate>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="nombre">Nombre del empleado</label>
                <input ng-model="empleado.nombre" type="text" class="form-control mb-md" id="nombre" placeholder="Nombre del empleado"
                       xt-validate required msg-required="Debe asignar un nombre al empleado" name="nombre">
            </div>
            <div class="form-group">
                <label for="apellidos">Apellidos del empleado</label>
                <input ng-model="empleado.apellidos" type="text" class="form-control mb-md" id="apellidos" placeholder="Apellidos">
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono de contacto</label>
                <input ng-model="empleado.telefono" type="text" class="form-control mb-md" id="telefono" placeholder="Telefono de contacto"
                       xt-validate required msg-required="Debe asignar un telefono de contacto" name="telefono">
            </div>
            <div class="form-group">
                <label for="alerta_citas">
                    <input type="checkbox" name="vehicle" ng-model="empleado.alerta_citas" id="alerta_citas" checked>
                    Notificar las nuevas citas vía correo electrónico
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email">Correo electrónico</label>
                <input type="text" id="email" ng-model="empleado.email" class="form-control"
                       xt-validate required msg-required="El email es obligatorio" name="email"/>

            </div>
            <div class="form-group">
                <label for="servicios">Servicios asignados</label>
                <select class="form-control" name="" id=""></select>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <textarea ng-model="empleado.descripcion" rows="5" class="form-control mb-md" id="descripcion"
                          placeholder="Describe brevemente el empleado"></textarea>
            </div>
        </div>
    </div>

</form>