<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">[[ titulo ]]</div>
            </div>
            <div class="panel-body">
                opciones detalle empleado
            </div>
            <div class="panel-footer"></div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-body">
                detalle empleado
            </div>
        </div>
    </div>
</div>