<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h2 class="pull-left margincero"><i class="fa fa-plus"></i> Editar empleado</h2>
        <a class="btn btn-success btn-xs pull-right" ui-sref="empleados.list"><i class="fa fa-arrow-circle-o-left"></i> Ir a la lista</a>
    </div>
    <div class="panel-body">
        <div ng-include src="'empleados/views/_empleado-form.tpl.html'"></div>
    </div>
    <div class="panel-footer">
        <a ng-click="save(empleado);" class="btn btn-success"><i class="fa fa-save"></i> Guardar</a>
        <a ui-sref="empleados.list" class="btn btn-default"><i class="fa fa-ban"></i> Cancelar</a>
    </div>
</div>